# Normalise line endings: LF in the repository and in the containers
* text=auto eol=lf

# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
